
.container-body{
    position: absolute;
    max-width: 1300px;
    width: 159vh;
    height: 150vh;
    background: white;
    border-radius: 10px;
    padding: 25px;
    margin-left: -12vh;
    font-family: sans-serif;
    margin-top: -15px;
}
.column-add{
    display: flex;
    gap: 5px;
}

.species-categories{
    height: 45px;
    width: 60vh;
    padding: 10px;
   border-radius: 10px;
   font-size: 19px;
}
/* Add this to your CSS file */

.conservation-status{
    height: 45px;
    width: 60vh;
    padding: 10px;
   border-radius: 10px;
   font-size: 19px;
}

.form input {
    height: 40px;
    width: 60vh;
    padding: 10px;
   border-radius: 10px;
   font-size: 15px;
}
.input-box1{
    margin-top: 18px;
}
.input-box1 label{
    font-size: 18px;
    margin-left: 22px;
    font-weight: bold;

}
.input-box1 input{
    margin-left: 14px;
    text-transform: capitalize;
  
    margin-top: 5px;
}
.imgholder{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.imgholder .upload{
    position: absolute;
    top: 80px;
    left: 10;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.imgholder .upload input{
    display: none;
}

.upload .icon{
    color: #fff;
    font-size: 35px;
}

.imgholder:hover .upload{
    display: flex;

}

.column-add1{
    display: flex;
    margin-top: -70px;
}

.input-box2 input{
    margin-left: 27.5vh;
    text-transform: capitalize;
    margin-top: 5px;
    outline: none;
}


.input-box2 label{
    font-size: 18px;
    margin-left: 185px;
    font-weight: bold;
    top: -100px;
}
.input-box2{
    margin-top: -35px;
    margin-left: -10px;
}
.input-box3{
    margin-top: -36px;
    margin-left: -190px;
}
.input-box3 label{
    font-size: 18px;
    margin-left: -20px;
    font-weight: bold;
    top: -100px;
}

.input-box3 input{
    margin-left: -32px;
    margin-top: 5px;
    outline: none;
    
}

.column-add2{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 166px;
}

.column-add2 input{
    width: 60vh;
    margin-top: 5px;
    outline: none;
}
.column-add2 label{
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
}

.input-box5{
    margin-left: -18px;
}

.column-add3{
    display: flex;
    gap: 125px;
    margin-top: 10px;
    margin-left: 165px;
    
}

.column-add3 select{
    width: 388px;
    height: 40px;
    margin-top: 5px;
    font-size: 15px;
    outline: none;
}

.column-add3 label{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}


.column-add3 .input-box8{
    margin-left: -110px;
    
}

.input-box8 select{
    width: 388px;
    height: 40px;
    margin-top: 5px;
    font-size: 15px;
    outline: none;
}

.column-add3 .input-box7 select{
    text-transform: capitalize;
    outline: none;
}

.column-add9{
    display: flex;
    margin-top: 10px;
    margin-left: 165px;
}

.column-add9 input{
    width: 124vh;
    margin-top: 5px;
    font-size: 15px;
    text-transform: capitalize;
   
}

.column-add9 label{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.column-add10{
    display: flex;
    margin-top: 15px;
    margin-left: 160px;
    
}

.column-add10 textarea{
    width: 125vh;
    height: 30vh;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}


.textarea-label {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    
  }

.column-add11{
    display: flex;
    margin-top: 15px;
    margin-left: 160px;
}

.column-add11 textarea{
    width: 125vh;
    height: 30vh;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.effort-label {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.column-add12{
    display: flex;
    margin-top: 15px;
    margin-left: 160px;
}

.column-add12 textarea{
    width: 125vh;
    height: 30vh;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.description-label {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.input-box13{
    margin-left: 60vh;
}

.input-box13 button{
    width: 350px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #007bff;
    color: white;
    border: none;
}
.input-box13 button:hover{
    background-color: #0056b3;
    color: white;
}