.main9{
    display: flex;
}

.main9 .sidebarWrapper9{
    width: 300%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;
}

.tit9{
    margin-top: 70px;
    margin-left: 40px;
    background: #fff;
    width: 160.5vh;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
}

.tit9 h1 {
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
   
}

.fishHome{
    margin-left: -12px;
}