.main-container3{
    display: flex;
    
}


.main-container3 .sidebarWrapper-main3{
   width: 20%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;

}

.main-container3 .sidebarWrapper-main3.toggle{
    width: 80%;
    flex: 0 0 80%;
}

.main-container3 .content-main3{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.main-container3 .content-main3 .toggle{
    width: 100%;
    flex: 0 0 100%;
}

.tit-main3 {
    margin-top: 70px;
    margin-left: 40px;
    background: #fff;
    width: 161.5vh;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
}

.tit-main3 h1 {
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
   
}

.near-theatend{
    margin-left: 165.5vh;
    margin-top: -120px;
  
}
