.main10{
    display: flex;
    overflow-x: hidden;
    
}


.main10 .sidebarWrapper10{
   width: 20%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;

}


.main10 .sidebarWrapper10.toggle{
    width: 80%;
    flex: 0 0 80%;
}

.main10 .content10{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.main10 .content10 .toggle{
    width: 100%;
    flex: 0 0 100%;
}

.tit10 {
    margin-top: 70px;
    margin-left: 40px;
    background: #fff;
    width: 159.5vh;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
}

.tit10 h1 {
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
}

.graph1{
    margin-left: 10.5%;
    margin-top: 20px;
   
  }

  .piechart1{
    margin-left: 10.5%;
    margin-top: 29px;
  }

