/* Container for columns */
.card1 {
    display: flex;
    flex-wrap: wrap;
    gap: 160px; /* Adjust the gap between columns */
    box-sizing: border-box;
    margin-left: -8px;
  }
  
  /* Each column */
  .col-div-3 {
    box-sizing: border-box; /* Include padding and border in the element's total width */
  }
  
  /* Box inside columns */
  .box-1 {
    width: 30.5vh;/* Adjust width to fit within the column */
    height: 100px;
    background-color: #8884d8;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
    font-weight: bold;
    font-size: 20px;
    margin-left: -150px;
  }
  .box1{
    margin-top: -3px;
    color: black;
    font-size: 38px;
    margin-left: 70px;
  }
  .box-2 {
    width: 30.5vh;/* Adjust width to fit within the column */
    height: 100px;
    background-color: #82ca9d;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
    font-size: 20px;
    font-weight: bold;
    margin-left: -150px;
  }
  .box2{
    margin-top: -3px;
    color: black;
    font-size: 38px;
    margin-left: 70px;
  }

  .box-3 {
    width: 30.5vh; /* Adjust width to fit within the column */
    height: 100px;
    background-color: #ffc658;
    border-radius: 10px;
    padding: 10px;
    margin-left: 43px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
    font-size: 20px;
    font-weight: bold;
    margin-left: -150px;
  }

  .box3{
    margin-top: -3px;
    color: black;
    font-size: 38px;
    margin-left: 70px;
  }
  .boxes{
    width: 30vh; /* Adjust width to fit within the column */
    height: 220px;
    background-color: #0277bd;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in width/height */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
    margin-left: -100px;
    font-weight: bold;
    font-size: 20px;
  }
  .boxes1{
    margin-top: 40px;
    color: black;
    font-size: 38px;
    margin-left: 70px;
  }
 

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .boxes{
      height: 95px;
      width: 340px;
      margin-left: 140px;
    }

    .boxes1{
      margin-top: -2px;
      margin-left: 120px;
    }

    .box-1{
      margin-top: -140px;
      margin-left: 140px;
      width: 340px;
      
    }
    .box1{
      margin-left: 120px;
    }

    .box-2{
      margin-top: -183px;
      margin-left: 140px;
      width: 340px;
    }

    .box2{
      margin-left: 120px;
    }

    .box-3{
      margin-top: -225px;
      margin-left: 140px;
      width: 340px;
    }

    .box3{
      margin-left: 120px;
    }
}

/* for iPhone XR portrait mode */
@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .boxes{
    height: 100px;
    width: 385px;
    margin-left: 120px;
  }
  .boxes1{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
  .boxes2{
    font-size: 24px;
  }

  .box-1{
    margin-top: -140px;
    margin-left: 120px;
    width: 385px;
    height: 100px;
  }
  .boxs{
    font-size: 24px;
  }

  .box1{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }

  .box-2{
    margin-top: -183px;
    margin-left: 120px;
    width: 385px;
  }
  .box2{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }

  .boxs2{
    font-size: 24px;
  }

  .box-3{
    margin-top: -225px;
    margin-left: 120px;
    width: 385px;
    height: 100px;
  }
  .boxs3{
    font-size: 24px;
  }

  .box3{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
}
/* Media query for iPhone 14 Pro Max in portrait mode */
@media only screen and (min-device-width: 430px) and (max-device-width: 430px) and (orientation: portrait) {
  .boxes{
    height: 100px;
    width: 385px;
    margin-left: 120px;
  }
  .boxes1{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
  .boxes2{
    font-size: 24px;
  }

  .box-1{
    margin-top: -140px;
    margin-left: 120px;
    width: 385px;
    height: 100px;
  }
  .boxs{
    font-size: 24px;
  }

  .box1{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }

  .box-2{
    margin-top: -183px;
    margin-left: 120px;
    width: 385px;
  }
  .box2{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }

  .boxs2{
    font-size: 24px;
  }

  .box-3{
    margin-top: -225px;
    margin-left: 120px;
    width: 385px;
    height: 100px;
  }
  .boxs3{
    font-size: 24px;
  }

  .box3{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 360px) and (orientation: portrait){
.boxes{
  height: 100px;
  width: 45vh;
  margin-left: 19.6vh;
  margin-top: -2vh;
}
.boxes1{
  margin-top: -2px;
  margin-left: 130px;
  font-size: 50px;
}
.boxes2{
  font-size: 24px;
}

.box-1{
  margin-top: -140px;
  margin-left: 19.6vh;
  width: 45vh;
  height: 100px;
}
.boxs{
  font-size: 24px;
}

.box1{
  margin-top: -2px;
  margin-left: 130px;
  font-size: 50px;
}

.box-2{
  margin-top: -183px;
  margin-left: 19.6vh;
  width: 45vh;
}
.box2{
  margin-top: -2px;
  margin-left: 130px;
  font-size: 50px;
}

.boxs2{
  font-size: 24px;
}

.box-3{
  margin-top: -225px;
  margin-left: 19.6vh;
  width: 45vh;
  height: 100px;
}
.boxs3{
  font-size: 24px;
}

.box3{
  margin-top: -2px;
  margin-left: 130px;
  font-size: 50px;
}
}

/* Media query for Samsung Galaxy S20 Ultra in portrait mode */
@media only screen and (min-device-width: 412px) and (max-device-width: 412px) and (orientation: portrait) {
  /* Your CSS rules for Samsung Galaxy S20 Ultra portrait mode */
  .boxes{
    height: 100px;
    width: 43vh;
    margin-left: 12.9vh;
    margin-top: -2vh;
  }
  .boxes1{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
  .boxes2{
    font-size: 24px;
  }
  
  .box-1{
    margin-top: -145px;
    width: 43vh;
    margin-left: 12.9vh;
    height: 100px;
  }
  .boxs{
    font-size: 24px;
  }
  
  .box1{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
  
  .box-2{
    margin-top: -20.5vh;
    width: 43vh;
    margin-left: 12.9vh;
  }
  .box2{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
  
  .boxs2{
    font-size: 24px;
  }
  
  .box-3{
    margin-top: -25vh;
    width: 43vh;
    margin-left: 12.9vh;
    height: 100px;
  }
  .boxs3{
    font-size: 24px;
  }
  
  .box3{
    margin-top: -2px;
    margin-left: 130px;
    font-size: 50px;
  }
}

/* Media query for iPad Mini in portrait mode */
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
  /* Your CSS rules for iPad Mini portrait mode */
  .boxes{
    margin-left: -4vh;
    margin-top: -2vh;
   width: 23.5vh;
   height: 100px;
  }
  .boxes1{
    margin-top: -2px;
    margin-left: 70px;
    font-size: 50px;
  }
  .boxes2{
    font-size: 24px;
  }
  .box-1{
    margin-top: -2vh;
    margin-left: -62%;
    width: 23.5vh;
  }
  .box1{
    margin-top: -2px;
    margin-left: 70px;
    font-size: 50px;
  }
  .boxs{
    font-size: 24px;
  }
  
  .box-2{
    margin-top: -25.3vh;
    margin-left: 192%;
    width: 23.5vh;
  }
  .box2{
    margin-top: -2px;
    margin-left: 70px;
    font-size: 50px;
  }
  .boxs2{
    font-size: 24px;
  }

  .box-3{
    margin-top: -14vh;
    margin-left: -183%;
    width: 23.5vh;
  }
  .box3{
    margin-top: -2px;
    margin-left: 70px;
    font-size: 50px;
  }
  .boxs3{
    font-size: 24px;
  }
}