.contributorsidebarpages{
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 50px;
  left: 0px;
  background:#223243;
  transition: all 0.3s ease-in-out;
}

.toggle .contributorsidebarpages{
  left: -100%;
}


  .contributorsidebarpages ul {
    margin-bottom: 0px;
    padding: 10px 15px;
  }
  
  .contributorsidebarpagesul li {
    list-style: none;
  }
  
  .contributorsidebarpages ul li button {
    color: rgba(255, 255, 255, 1) !important;
    text-align: left;
    justify-content: left;
    border-radius: 10px !important;
    align-items: center;
    font-weight: 500 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    margin: 5px;
    top:10px;
    padding: 12px 15px !important;
    text-transform: capitalize !important;
  }
  
  .contributorsidebarpages ul li button .contributor-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  
  .contributorsidebarpages ul li button .contributor-icon svg {
    font-size: 22px;
    color: white;
    opacity: 0.8;
  }
  
  .contributorsidebarpages ul li button * {
    color: rgba(255, 255, 255, 1) !important;
  }
  
  .contributorsidebarpages ul li button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
  
  .contributorsidebarpages ul li button.active {
    background: rgba(255, 255, 255, 0.1) !important;
  }
  
  .link, .link1 {
    text-decoration: none;
    color: inherit; 
  }
  @media only screen and (min-width:320px) and (max-width:992px){
    .contributorsidebarpages{
      width: 100% !important;
      position: relative !important;
      top: 0px !important;
      max-width: inherit !important;
      z-index: 10000;
      
    }
  
  }
  
  @media only screen and(max-width:320px) and (max-width:575px){
    
  
    
  }


  
