.edit-main{
    display: flex;
    
    
}


.edit-main .sidebarWrapper-edit{
   width: 20%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;

}

.edit-main .sidebarWrapper-edit.toggle{
    width: 80%;
    flex: 0 0 80%;
}

.edit-main .edit-content{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.edit-main .edit-content .toggle{
    width: 100%;
    flex: 0 0 100%;
}

.edit-home{
    margin-left: 3vh;
    margin-top: 10.5vh;
  
}
