header {
    background: #223243;
    border-bottom: 1px solid #e0e0e0;
    width: 101%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
  }



  header span{
    color: white;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
   
  }

  header button.rounded-circle{
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    display: none;
    
  }

  header button.rounded-circle svg{
    color: white;
    font-size: 20px !important;
  }
  #notification-menu{
    margin-left: 7px;  
  }
 
  #notification-menu .menu p{
    color: black;
    margin-left: -15px;
    margin-top: -25px;
    font-size: 17px;
    font-weight: bold;
  }

  #notification-menu .menu p .one{
    margin-top: -1px;
    margin-left: -2px;
  }
  .devider{
    margin-left: -5px;
    width: 33vh;
    margin-top: -8px;
    border-color: gray;
  }

  .users{
    display: flex;
  }

  .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
  }

 
 

  #rounded-circle:hover{
    color: aqua;
  }

 
  .user-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
  }



  .myAcc1 {
    display: flex;
    align-items: flex-start; /* Align icons at the top */
    margin-top: 12px;
    margin-left: 160vh;
    gap: 15px;
  }

  .notification{
    margin-left: -35px;
    margin-top: 6px;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

  .round-count{
    background-color: red;
    margin-top: -50px;
    margin-left: 18px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    
   
  }

  .round-count .notification-count{
    font-size: 11px;
    color: #fff;
  }
  .user-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 50%;
  }
  
  .user-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .menu {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .avatarAcc {
    margin-right: 10px;
  }
  
  .avatarAcc .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .fname {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  .no-notification{
    color: black;
  }
  .email {
    margin: 0;
    font-size: 12px;
    color: #666;
  }
  
  .MuiMenu-paper {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.32);
  }
  
  
  .MuiMenuItem-root {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    
  }
  
  .MuiListItemIcon-root {
    min-width: 36px;
  }
  
  .MuiAvatar-root {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  

  .search1{
    margin-top: 41px;
    margin-left: 100px;
  }

 
  
  .MuiList-root .MuiButtonBase-root {
    font-size: 14px;
  }
  
  .MuiButtonBase-root .MuiAvatar-circular{
    width: 20px;
    height: 4px;
  }

  #account-menu{
    margin-top: -1px;
    margin-left: 3px;
  }
  
  
  

@media only screen and (min-width:320px) and (max-width:992px){
  header{
    padding: 15px 0px;
    height: 60px;
  }
 header .part1,header .part3{
  padding: 0px !important;
 }

 header .part1{
  max-width: 40% !important;
  flex: 0 0 40% !important;
 }

 header .part1 span{
  font-size: 18px;
  margin-left: 1px;
 }

 header .part3{
  max-width: 80% !important;
  flex: 0 0 20% !important;
 }

 header button.rounded-circle{
  display: block;
  
}

}

@media only screen and(max-width:320px) and (max-width:575px){
  header .flex-row{
    margin: auto !important;
  }

  header button.rounded-circle{
    display: block;
    
  }

  
}


