.main{
    display: flex;
    overflow-x: hidden;
    
}


.main .sidebarWrapper{
   width: 20%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;

}

.main .sidebarWrapper.toggle{
    width: 80%;
    flex: 0 0 80%;
}

.main .content{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.main .content .toggle{
    width: 100%;
    flex: 0 0 100%;
}

.tit {
    margin-top: 70px;
    margin-left: 30px;
    background: #fff;
    width: 159.5vh;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
}

.tit h1 {
    font-size: 30px;
    padding: 7px 20px;
    font-weight: bold;
}

.speciestable{
    margin-left: -445px;
  
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .tit {
       
        margin-left: -60px;
        background: #fff;
        width: 51vh;
        height: 50px;
    }
   
}

@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait){
    .tit {
        margin-left: -70px;
        background: #fff;
        width: 43vh;
        height: 50px;
    }
}

@media only screen and (min-device-width: 390px) and (max-device-width: 390px) and (orientation: portrait) 
{
    .tit {
        margin-left: -65px;
        background: #fff;
        width: 43vh;
        height: 50px;
    } 
}

/* Media query for iPhone 14 Pro Max in portrait mode */
@media only screen and (min-device-width: 430px) and (max-device-width: 430px) and (orientation: portrait) {
    .tit {
        margin-left: -72px;
        background: #fff;
        width: 43vh;
        height: 50px;
    } 
  }

  @media only screen and (min-device-width: 360px) and (max-device-width: 360px) and (orientation: portrait){
    .tit {
        margin-left: -8vh;
        background: #fff;
        width: 45vh;
        height: 50px;
    } 
  }
  /* Media query for Samsung Galaxy S20 Ultra in portrait mode */
@media only screen and (min-device-width: 412px) and (max-device-width: 412px) and (orientation: portrait) {
    /* Your CSS rules for Samsung Galaxy S20 Ultra portrait mode */
    .tit{
        margin-left: -8vh;
        width: 43vh;
        height: 50px;
    }
  }

  /* Media query for iPad Mini in portrait mode */
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
    /* Your CSS rules for iPad Mini portrait mode */

    .tit{
        margin-left: -14vh;
        width: 73vh;
    }
  }
/* Media query for iPad Air in portrait mode */
@media only screen and (min-device-width: 820px) and (max-device-width: 820px) and (orientation: portrait) {
    /* Your CSS rules for iPad Air portrait mode */
    .tit{
        margin-left: -12.5vh;
        width: 66vh;
        margin-top: 6vh;
    }
  }
