.ViewAndEditSpecies{
    background: #fff;
    width: 161vh;
    margin-left: -106vh;
    margin-top: 150px;
    border-radius: 20px;
}

  .table-responsive1 {
    overflow-x: auto; 
  }
  
  .table1 {
    width: 130vh;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse; 
    
  }
  
  .table1 th, .table1 td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #e3e3e3; /* Border for table cells */
    
  }
  
  .table th {
    background-color: #f8f9fa; /* Light grey background for table headers */
    font-weight: bold; /* Bold text for table headers */
    
  }
  .description-scroll,
.conservation-scroll {
  max-height: 150px; /* Adjust based on desired height */
  overflow-y: auto;
  width: 100%;
}

 
.thead-dark1 th,
.table1 th {
  text-align: center; /* Center-align text */
  vertical-align: middle; /* Center-align content vertically */
}

.table1 tbody td{
    font-size: 14px;
    font-weight: 500;
    overflow-x: auto; /* Enable horizontal scroll if needed */
    
    
}
.table1 .thead-dark1 th{
    background-color: black;
    border: black;
    color: white;
    width: 200vh;
    font-size: 14px;
}

.table1 tbody .actions button{
    min-width: 32px;
    width: 32px;
    height: 32px;
    margin: 0px 3px;
    margin-left: 10px;
}

.table1 tbody .actions button svg{
    font-size: 32px;
}

.table1 tbody .actions button.secondary{
    background: rgba(203,60,231,0.7);
}
.table1 tbody .actions button.success{
    background: rgba(26,159,83,0.7);
}

.table1 tbody .actions button.error{
    background: rgba(241,17,51,0.7);
}

.tablefooter{
  display: flex;
  padding-bottom: 20px;
}
.pagination{
  display: flex;
  margin-left: auto;
}

/* Style for the search bar container */
.search-container {
  position: relative; /* Ensures the search icon is positioned relative to the container */
  width: 100%; /* Adjust width as needed */
  margin-bottom: 20px; /* Space below the search bar */
}

.search-bar {
  width: 60%;
  padding: 10px 40px; /* Adds padding to accommodate the search icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px; /* Adjust font size as needed */
  margin-top: 20px;
  margin-left: 35vh;
}

.search-icon {
  position: absolute;
  left: 36vh; /* Position from the left edge */
  top: 65%;
  transform: translateY(-50%); /* Vertically centers the icon */
  color: #888; /* Adjust icon color as needed */
  font-size: 25px; /* Adjust icon size as needed */
  pointer-events: none; /* Ensures the icon doesn’t interfere with the input */
}

#transition-modal-title{
  text-align: center;
}
#parent-modal-title{
  text-align: center;
  font-weight: bolder;
}

.eye-view{
  margin-top: -60px;
  font-family: sans-serif;
  
}
.eye-view .images {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;    /* Vertical centering */
  height: 100%;
 
}
.eye-view .images img {
  width: 50%;
  height: 250px;
  border-radius: 10px;
  
}
.eye-view h4{
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
}
.specific-name1 h3{
  font-size: 20px;
  font-weight: bold;
}
.specific-name1 h4{
  margin-top: 2.5px;
}

.scientifi-name1 h3{
  font-size: 20px;
  font-weight: bold;
}
.scientifi-name1 h4{
  margin-top: 2.5px;
}

.common-name1 h3{
  font-size: 20px;
  font-weight: bold;
}
.common-name1 h4{
  margin-top: 2.5px;
}

.habitat1 h3{
  font-size: 20px;
  font-weight: bold;
}
.habitat1 h4{
  margin-top: 31px;
  line-height: 1.5;
  margin-left: -75px;
  text-align: justify;
  text-indent: 3em;
}

.species-category1 h3{
  font-size: 20px;
  font-weight: bold;
  
}
.species-category1 h4{
  margin-top: 2.5px;
}

.population1 h3{
  font-size: 20px;
  font-weight: bold;
}
.population1 h4{
  margin-top: 2.5px;
}

.location1 h3{
  font-size: 20px;
  font-weight: bold;
}
.location1 h4{
  margin-top: 2.5px;
}

.location1{
  display: flex;
  gap:10px;
  
}

.conservationstatus1{
  display: flex;
  gap: 10px;
  
}

.conservationstatus1 h3{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.conservationstatus1 .conservationstatus123{
  margin-top: 5px;
}


.specific-name1,.scientifi-name1,.common-name1,.habitat1,
.population1,.date1{
  display: flex;
  margin: 10px;
  margin-left: 1px;
  font-size: 20px;
}
.conservationstatus1 p{
  color: black;
  font-size: 18px;
  margin-left: 1px;
  margin-top: 5px;
}
.adthreats1{
  margin-top: -2px;
}

.adthreats1 h3{
  font-size: 20px;
  font-weight: bold;
}
.adthreats1 p{
  margin-top: 5px;
  color: black;
  font-size: 18px;
  margin-left: 1px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 3em;
}
.conservation-effort1{
  margin-top: 5px;
}

.conservation-effort1 h3{
  font-size: 20px;
  font-weight: bold;
}
.conservation-effort1 p{
  margin-top: 5px;
  color: black;
  font-size: 18px;
  margin-left: 1px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 3em;
}
.description1 {
  margin-top: 5px;
}

.description1  h3{
  font-size: 20px;
  font-weight: bold;
}
.description1 p{
  margin-top: 5px;
  color: black;
  font-size: 18px;
  margin-left: 1px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 3em;
 
}
.location1 h4{
  margin-left: 1px;
  margin-top: 5px;
}
.species-category1{
  display: flex;
}
.edit-image img{
  height: 150px;
  width: 150px;
}

.edit-species .edit-image{
  height: 200px;
  width: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.edit-image .edit-upload{
  position: absolute;
  bottom: 50px;
  left: -5px;
  width: 103%;
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.edit-upload .edit-icon{
  color: white;
  font-size: 35px;
  margin-left: -100%;
}
.edit-image .edit-upload input{
  display: none;
}

.edit-image:hover .edit-upload {
  display: flex;
}

.edit-species{
  display: flex;
  margin: 10px;
}

.edit-pencil-specific input{
  width: 57vh;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
}

.edit-location{
  margin-left: 100px;
}

.edit-pencil-specific select{
  width: 57vh;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
}

.edit-pencil-specific label{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.edit-pencil-status{
  margin-left: 140px;
  margin-top: 10px;
  
}

.edit-pencil-location{
  margin-top: -1px;
}

.edit-pencil-location label{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
 
 
}
.edit-pencil-location input{
  width: 57vh;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
  
}

.edit-pencil-status{
  margin-top: -25px;
  
}

.edit-pencil-status textarea{
  width: 120vh;
  height: 130px;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  margin-left: 5vh;
  text-align: justify;
  border: 2px solid gray;
  margin-top: -23px;
} 

.edit-pencil-status label{
  padding: 35px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}
.message p{
  text-align: center;
  color: black;
  font-size: 30px;
  margin-top: -5px;
}

#edit-button{
  background: #007bff;
  color: white;
  font-weight: bold;
  width: 50vh;
  margin-left: 63vh;
}

#edit-button:hover{
  background-color: #0056b3;
  color: #fff;
}

#transition-modal-title{
  font-weight: bold;
}