.searchBox{
    position: relative;
    display: flex;
    align-items: center;
    width: 480px;
    height: 36px;
    background: #f0f5ff;
    margin-top: -31px;
    border-radius: 6px;
    margin-left: 200px;
    padding: 3px 15px;
    
}

.searchBox input{
padding-left: 5px;
background: transparent;
border: 0px;
font-size: 14px;
color: #292929;
outline: none;
}
.searchBox input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.7);
}
input{
    width: 500px;
}

.searchBox svg{
    font-size: 20px;
}
.result{
    z-index: 1;
}