.contributorchangepassword-main {
    display: flex;
    overflow-x: hidden;
    
}


.contributorchangepassword-main .contributorchangepassword-sidebarWrapper{
   width: 20%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;

}

.contributorchangepassword-main  .contributorchangepassword-sidebarWrapper.toggle{
    width: 80%;
    flex: 0 0 80%;
}

.contributorchangepassword-main .contributorchangepassword-content{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.contributorchangepassword-main .contributorchangepassword-content .toggle{
    width: 100%;
    flex: 0 0 100%;
}



.contributorchangepassword{
    margin-left: 17px;
    margin-top: 70px;
}


