.main3{
    display: flex;
    
    
}

.main3 .sidebarWrapper3{
    width: 300%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;
}
.tit3 {
    margin-top: 70px;
    margin-left: 40px;
    background: #fff;
    width: 160vh;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Add this line for shadow */
}

.tit3 h1 {
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
   
}
.view-edit-species{
    margin-left: -344px;
}