.change-main{
    display: flex;
    
}



.change-main .sidebarWrapper-change{
   width: 20%;
   flex: 0 0 20%;
   transition: all 0.3s ease-in-out;

}

.change-main .sidebarWrapper-change.toggle{
    width: 80%;
    flex: 0 0 80%;
}

.change-main .change-content{
    width: 80%;
    flex: 0 0 80%;
    transition: all 0.3s ease-in-out;
}

.change-main .change-content .toggle{
    width: 100%;
    flex: 0 0 100%;
}

.change-password-home{
    margin-left: 1vh;
    margin-top: 10vh;
  
}
